extends layout
block content
    div.row
        div.col-md-6
            a#shop.btn.btn-lg.btn-success.btn-main-wrapper(href='shop')
                div.btn-main
                    div.btn-icon
                        span.glyphicon.glyphicon-shopping-cart
                    div.btn-caption
                        | shop
        div.col-md-6
            a#edit.btn.btn-lg.btn-success.btn-main-wrapper(href='edit')
                div.btn-main
                    div.btn-icon
                        span.glyphicon.glyphicon-list-alt
                    div.btn-caption
                        | edit
