doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='vendor/css/bootstrap.css')
        link(rel='stylesheet', href='css/styles.css')

        script(src='vendor/js/jquery.js')
        script(src='vendor/js/bootstrap.js')
        script(src='js/script.js')

        title Shopping List

    body
        div.container
            div.row
                div.col-md-6
                    a#shop.btn.btn-lg.btn-success(href='shop')
                        div.btn-main
                            div.btn-main.btn-icon
                                span.glyphicon.glyphicon-shopping-cart
                            div.btn-main.btn-caption
                                | shop
                div.col-md-6
                    a#edit.btn.btn-lg.btn-success(href='edit')
                        div.btn-main
                            div.btn-main.btn-icon
                                span.glyphicon.glyphicon-list-alt
                            div.btn-main.btn-caption
                                | edit

