doctype
html(lang='en')
    head
        //- meta for charset and also for the screen size
        //- stylesheets (bootstrap/styles.css)
        //- javascript files (jquery/bootstrap/scripts)
        title Shopping List

    body
        a#shop(href='shop') Shop
        a#edit(href='edit') Edit

