.btn-main {
    padding-top: 0.14em;
    position: relative;
    width: 25em;
    height: 25em;
}

.btn-main .btn-icon {
    position: relative;
    font-size: 18em;
    margin-bottom: 0;
}

.btn-main .btn-caption {
    position: relative;
    font-size: 6em;
    top: -1.11em;
}